
<button (click)="blueClass = !blueClass" [ngClass]="{blue: blueClass}">change</button>
<ng-template [ngIf]="blueClass">
  <p>Button is blue</p>
</ng-template>

<hr>

<input (keyup)="changeImage($event)" [value]="imgURL" style="width: 250px;">
<p>Hello {{ name | titlecase }}</p>
<p>Hello {{ getName() }}</p>
<p>Hello {{ 10 + 5 }}</p>
<p>{{ currentDate | date: 'MMMM d'}}</p>
<p>{{ cost | currency: 'INR'}}</p>
<p>{{ temparature | number: '1.0-0'}}</p>

<app-posts [postImg]="imgURL" (selectedImg)="logImg($event)">
  some caption
</app-posts>

